.list_items__list-container {
    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: 65%;
    height: 150px;
    overflow-y: scroll;
}

.list_items__button-group {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 35%;
}

.list-group-item {
    height: 28px;
    padding: 0.1rem 0.3rem;
    user-select: none;
}

.app-title-bar {
    background: rgb(202, 202, 202);
    text-align: right;
    -webkit-app-region: drag;
    flex: 0 0 32px;
}

button {
    -webkit-app-region: no-drag;
}

.button-close-window {
    border-radius: 0px;
    line-height: 1.2;
    padding: .25rem .6rem;
}

.report-content {
    overflow: auto;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    max-height: 100%;
}

.window-title  {
    color: rgb(95, 95, 95);
}